infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/crash.log
infrastructure/*.tfvars
infrastructure/override.tf
infrastructure/override.tf.json
infrastructure/*_override.tf
infrastructure/*_override.tf.json
infrastructure/.terraform.lock.hcl

